# Requires clang-format 19.
# Note that my global configuration is in my dotfiles repository.
BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 3
TabWidth: 3
ContinuationIndentWidth: 3
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: LeftWithLastLine
AllowShortFunctionsOnASingleLine: None
BreakTemplateDeclarations: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
ColumnLimit: 120
