[Unit]
Description=Edwin's Central Dev Server

[Service]
Type=simple
WorkingDirectory=%h/.dev
ExecStart=%h/.dotfiles/.data/binexec/node --run start
Environment='PORT=40000'

[Install]
WantedBy=default.target
