[Unit]
Description=Edwin Central Dev Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=edwin
WorkingDirectory=/home/edwin/.dev
ExecStart=%h/.dotfiles/.data/binexec/node --run start
Environment=PORT=6000
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
