:root {
	--bulma-link-h: 275deg !important;
	--bulma-link-s: 100% !important;
	--bulma-link-l: 80% !important;

	--bulma-primary-h: 340deg !important;
	--bulma-primary-s: 100% !important;
	--bulma-primary-l: 80% !important;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	/* Bulma Hack. */
	overflow: auto !important;
}

#root {
	height: 100%;
}

.hover-bold:hover {
	font-weight: bold;
}

.pm-category > summary {
	list-style: none;
}

.pm-category > summary::-webkit-details-marker {
	display: none;
}

.pm-category > summary::before {
	content: '▸';
	display: inline-block;
	width: 1rem;
	color: #666;
}

.pm-category[open] > summary::before {
	content: '▾';
}

@media screen and (min-width: 1024px) {
	#directories-columns > .column + .column {
		border-left: 1px solid #dbdbdb;
		padding-left: 1.5rem;
	}
}
