:root {
	--bulma-link-h: 275deg !important;
	--bulma-link-s: 100% !important;
	--bulma-link-l: 80% !important;

	--bulma-primary-h: 340deg !important;
	--bulma-primary-s: 100% !important;
	--bulma-primary-l: 80% !important;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	/* Bulma Hack. */
	overflow: auto !important;
}

#root {
	height: 100%;
}

.hover-bold:hover {
	font-weight: bold;
}
